.tmp.drivedownload
tetrioplus.zip
tetrioplus.zip.xpi
tetrioplus.xpi
node_modules
build
buildscripttest
importer/node_modules
testcontent
tpsecore/.idea
tpsecore/pkg
tpsecore/target
tpsecore/blockmux.iml
